<div class="page-header">
  <h2>#Let's_Talk</h2>
  <p>LEAVE A MESSAGE. We love to hear from you !</p>
</div>

<div class="container col-11 mt-5">
  <div class="home">
    <div class="info">
      <span>GET IN TOUCH</span>
      <h2>Visit one of our agency locations or contact us today</h2>
      <h3>Head Office</h3>
      <div class="contact-links">
        <ul>
          <li>
            <i class="fa-regular fa-map"></i>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
          </li>
          <li>
            <i class="fa-regular fa-envelope"></i>
            <p>contact@gmail.com</p>
          </li>
          <li>
            <i class="fa-solid fa-mobile-screen-button"></i>
            <p>01127701817.</p>
          </li>
          <li>
            <i class="fa-regular fa-clock"></i>
            <p>Monday to Saturday :09.00 am to 16.00 pm</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="image">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d189697.3919592476!2d30.999502574074885!3d29.992676307229686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2seg!4v1684007621434!5m2!1sen!2seg"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>

<div class="container col-11 mt-5">
  <div class="card mb-5">
    <span class="mt-5 ml-3">LEAVE A MESSAGE</span>
    <h2 class="ml-3">We love to hear from you</h2>
    <div class="card-body datacoment">
      <div class="inputs">
        <form class="">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your Name" />
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="E-mail" />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Subject" />
          </div>
          <div class="form-group">
            <textarea
              name=""
              id=""
              cols="30"
              rows="10"
              class="form-control"
              placeholder="Your Message"
            ></textarea>
          </div>

          <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
      </div>
      <div class="user">
        <div class="persole">
          <img src="../../assets/image/1.png" alt="" />
          <p>
            <span>John Doe</span>
            Senior Marketing Manager <br />
            phone :+002783229 <br />
            Email:John@gmail.com
          </p>
        </div>
        <div class="persole">
          <img src="../../assets/image/2.png" alt="" />
          <p>
            <span> William Smith</span>
            Senior Marketing Manager<br />
            phone :+002783229<br />
            Email :John@gmail.com
          </p>
        </div>
        <div class="persole">
          <img src="../../assets/image/3.png" alt="" />
          <p>
            <span>Emma Stone</span>
            Senior Marketing Manager<br />
            phone :+002783229<br />
            Email:John@gmail.com
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
