<div class="page-header">
  <h2>#Stayhome</h2>

  <p>Save more with coupons &amp; up to 70% off !</p>
</div>
<div class="container col-11">
  <div class="products">
    <div class="row2">
      <div
        class="card wow animate__backInLeft"
        data-wow-duration="2s"
        data-wow-delay="0.3s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_1.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$8</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div
        class="card wow animate__backInLeft"
        data-wow-duration="2s"
        data-wow-delay="0.9s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_2.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$28</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div
        class="card wow animate__backInLeft"
        data-wow-duration="2s"
        data-wow-delay="1.7s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_3.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$18</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div
        class="card wow animate__backInLeft"
        data-wow-duration="2s"
        data-wow-delay="2.5s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_24.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$18</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <!-- ///////////////// -->
      <div
        class="card wow animate__backInRight"
        data-wow-duration="2s"
        data-wow-delay="0.3s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_5.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$8</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div
        class="card wow animate__backInRight"
        data-wow-duration="2s"
        data-wow-delay="0.9s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_6.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$12</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div
        class="card wow animate__backInRight"
        data-wow-duration="2s"
        data-wow-delay="1.7s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_7.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$10</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div
        class="card wow animate__backInRight"
        data-wow-duration="2s"
        data-wow-delay="2.5s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_8.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$28</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row2">
      <div
        class="card wow animate__backInLeft"
        data-wow-duration="2s"
        data-wow-delay="0.3s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_sec2_1.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$8</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div
        class="card wow animate__backInLeft"
        data-wow-duration="2s"
        data-wow-delay="0.9s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_sec2_2.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$28</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div
        class="card wow animate__backInLeft"
        data-wow-duration="2s"
        data-wow-delay="1.7s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_sec2_3.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$18</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div
        class="card wow animate__backInLeft"
        data-wow-duration="2s"
        data-wow-delay="2.5s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_sec2_4.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$18</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <!-- ///////////////// -->
      <div
        class="card wow animate__backInRight"
        data-wow-duration="2s"
        data-wow-delay="0.3s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_sec2_5.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$8</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div
        class="card wow animate__backInRight"
        data-wow-duration="2s"
        data-wow-delay="0.9s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_sec2_6.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$12</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div
        class="card wow animate__backInRight"
        data-wow-duration="2s"
        data-wow-delay="1.7s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_sec2_7.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$10</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div
        class="card wow animate__backInRight"
        data-wow-duration="2s"
        data-wow-delay="2.5s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_sec2_8.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$28</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination pagination-lg justify-content-center">
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
