<div class="page-header">
  <h2>#Stayhome</h2>

  <p>Save more with coupons &amp; up to 70% off !</p>
</div>


<div class="container col-9 mt-5">
  <div class="blog-box">
    <div class="blog-img">
      <img src="../../assets/image/blog1.jpg" alt="" />
    </div>
    <div class="blog-details">
      <h4>The Cotton-Jersey Zip-Up Hoodie</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
        nesciunt eligendi dolorum tenetur deleniti possimus.
      </p>
      <a href="#">CONTINUE READING _______</a>
    </div>
    <h1 class="title">13/01</h1>
  </div>
  <div class="blog-box">
    <div class="blog-img">
      <img src="../../assets/image/blog2.jpg" alt="" />
    </div>
    <div class="blog-details">
      <h4>How To Style a Quiff</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
        nesciunt eligendi dolorum tenetur deleniti possimus.
      </p>
      <a href="#">CONTINUE READING _______</a>
    </div>
    <h1 class="title">13/04</h1>
  </div>
  <div class="blog-box">
    <div class="blog-img">
      <img src="../../assets/image/blog3.jpg" alt="" />
    </div>
    <div class="blog-details">
      <h4>Must-Have Skater Girl Items</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
        nesciunt eligendi dolorum tenetur deleniti possimus.
      </p>
      <a href="#">CONTINUE READING _______</a>
    </div>
    <h1 class="title">12/01</h1>
  </div>
  <div class="blog-box">
    <div class="blog-img">
      <img src="../../assets/image/blog4.jpg" alt="" />
    </div>
    <div class="blog-details">
      <h4>Runway-Inspired Trends</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
        nesciunt eligendi dolorum tenetur deleniti possimus.
      </p>
      <a href="#">CONTINUE READING _______</a>
    </div>
    <h1 class="title">1/601</h1>
  </div>
  <div class="blog-box">
    <div class="blog-img">
      <img src="../../assets/image/blog5.jpg" alt="" />
    </div>
    <div class="blog-details">
      <h4>The Cotton-Jersey Zip-Up Hoodie</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
        nesciunt eligendi dolorum tenetur deleniti possimus.
      </p>
      <a href="#">CONTINUE READING _______</a>
    </div>
    <h1 class="title">12/10</h1>
  </div>
</div>
