<div class="Home">
  <div class="container col-11">
    <div class="home_card">
      <div class="info">
        <h4>Trade-in-offer</h4>
        <h2>Super value deals</h2>
        <h1>On all products</h1>
        <p>Save more with coupons & up to 70% off !</p>
        <button>Shop Now</button>
      </div>
    </div>
  </div>
</div>
<div class="container col-11">
  <div class="row1">
    <div class="fe-box">
      <img src="../../assets/image/sce2_4.png" alt="" />
      <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
      <img src="../../assets/image/sce2_3.png" alt="" />
      <h6 style="background-color: #cdebbc">Online Order</h6>
    </div>
    <div class="fe-box">
      <img src="../../assets/image/sce2_2.png" alt="" />
      <h6 style="background-color: #d1e8f2">Save Money</h6>
    </div>
    <div class="fe-box">
      <img src="../../assets/image/sce2_1.png" alt="" />
      <h6 style="background-color: #cdd4f8">Promotions</h6>
    </div>
    <div class="fe-box">
      <img src="../../assets/image/sce2_6.png" t="" />
      <h6 style="background-color: #f6dbf6">Happy Sell</h6>
    </div>
    <div class="fe-box">
      <img src="../../assets/image/sce2_5.png" />
      <h6 style="background-color: #fff2e5">F24/7 Support</h6>
    </div>
  </div>
</div>

<div class="container col-11">
  <div class="products">
    <div class="title_product">
      <h1>Featured Products</h1>
      <h5>Summer Collection New Modern Design</h5>
    </div>
    <div class="row2">
      <div
        class="card wow animate__backInLeft"
        data-wow-duration="2s"
        data-wow-delay="0.3s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_1.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$8</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div
        class="card wow animate__backInLeft"
        data-wow-duration="2s"
        data-wow-delay="0.9s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_2.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$28</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div
        class="card wow animate__backInLeft"
        data-wow-duration="2s"
        data-wow-delay="1.7s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_3.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$18</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div
        class="card wow animate__backInLeft"
        data-wow-duration="2s"
        data-wow-delay="2.5s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_24.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$18</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <!-- ///////////////// -->
      <div
        class="card wow animate__backInRight"
        data-wow-duration="2s"
        data-wow-delay="0.3s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_5.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$8</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div
        class="card wow animate__backInRight"
        data-wow-duration="2s"
        data-wow-delay="0.9s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_6.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$12</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div
        class="card wow animate__backInRight"
        data-wow-duration="2s"
        data-wow-delay="1.7s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_7.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$10</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div
        class="card wow animate__backInRight"
        data-wow-duration="2s"
        data-wow-delay="2.5s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_8.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$28</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="Home2">
  <div class="container col-11">
    <h4>Repair Services</h4>
    <h2>Up to <span> 70% Off</span> - All T-Shirts &amp; Accessories</h2>
    <button class="normal">Explore More</button>
  </div>
</div>

<div class="container col-11">
  <div class="products">
    <div class="title_product">
      <h1>New Arrivals</h1>
      <h5>Summer Collection New Modern Design</h5>
    </div>
    <div class="row2">
      <div
        class="card wow animate__backInLeft"
        data-wow-duration="2s"
        data-wow-delay="0.3s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_sec2_1.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$8</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div
        class="card wow animate__backInLeft"
        data-wow-duration="2s"
        data-wow-delay="0.9s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_sec2_2.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$28</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div
        class="card wow animate__backInLeft"
        data-wow-duration="2s"
        data-wow-delay="1.7s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_sec2_3.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$18</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div
        class="card wow animate__backInLeft"
        data-wow-duration="2s"
        data-wow-delay="2.5s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_sec2_4.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$18</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <!-- ///////////////// -->
      <div
        class="card wow animate__backInRight"
        data-wow-duration="2s"
        data-wow-delay="0.3s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_sec2_5.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$8</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div
        class="card wow animate__backInRight"
        data-wow-duration="2s"
        data-wow-delay="0.9s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_sec2_6.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$12</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div
        class="card wow animate__backInRight"
        data-wow-duration="2s"
        data-wow-delay="1.7s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_sec2_7.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$10</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
      <div
        class="card wow animate__backInRight"
        data-wow-duration="2s"
        data-wow-delay="2.5s"
      >
        <div class="card-body">
          <img src="../../assets/image/pro_sec2_8.jpg" />
          <div class="info">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h5 class="salary">$28</h5>
            <a><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container col-11">
  <div class="cards_row1">
    <div class="card_content_1">
      <h4>crazy deals</h4>
      <h2>buy 1 get 1 free</h2>
      <span>The best classic dress is on sale at cara </span>
      <button class="white">Learn More</button>
    </div>
    <div class="card_content_2">
      <h4>crazy deals</h4>
      <h2>buy 1 get 1 free</h2>
      <span>The best classic dress is on sale at cara </span>
      <button class="white">Learn More</button>
    </div>
  </div>
  <div class="cards_row2">
    <div class="card_cont1">
      <h2>NEW FOOTWEAR COLLECTION</h2>
      <h3>Spring/Summer 2023</h3>
    </div>
    <div class="card_cont2">
      <h2>NEW FOOTWEAR COLLECTION</h2>
      <h3>Spring/Summer 2023</h3>
    </div>
    <div class="card_cont3">
      <h2>NEW FOOTWEAR COLLECTION</h2>
      <h3>Spring/Summer 2023</h3>
    </div>
  </div>
</div>
