<footer>
  <div class="email">
    <div class="container col-11">
      <div class="cont">
        <div class="info">
          <h4>Sign Up For NewsLetters</h4>
          <p>
            Get E-mail updates about our lotest shop and
            <span>special offers</span>
          </p>
        </div>
        <div class="inputs">
          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control w-90 input_bord"
              placeholder="Your email address"
            />
            <button class="btn btn-primary my-2 nobb" type="submit">
              Sign Up
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container col-11">
    <section class="footerinfo">
      <div class="Contact">
        <img class="logo" src="../../../assets/image/logo.png" alt="" />
        <h4>Contact</h4>
        <p><strong>Address:</strong> 402 Landing Lange, APT 4 Louisville</p>
        <p><strong>Phone:</strong>212-456-7890</p>
        <p><strong>Hours:</strong>10:10-18:00,Mon.-Sat.</p>
        <div class="follow">
          <h4>Follow Us</h4>
          <div class="social-icon">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-pinterest-p"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
        </div>
      </div>
      <div class="About">
        <h4>About</h4>
        <a href="#">About Us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy </a>
        <a href="#">Terms &amp; Conditions</a>
        <a href="#">Contact Us</a>
      </div>
      <div class="My_Account">
        <h4>My Account</h4>
        <a href="#">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My Wishlist </a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
      </div>
      <div class="Install_App">
        <h4>Install App</h4>
        <p>From App Store or Google Play</p>
        <div class="row">
          <img src="../../../assets/image/app.jpg" alt="" />
          <img src="../../../assets/image/play.jpg" alt="" />
        </div>
        <p>Secured Payment Gateways</p>
        <img src="../../../assets/image/pay.png" alt="" />
      </div>
    </section>
  </div>
  <div class="copyright">
    <p>@ 2023, Abdelmouz - Angular template Ecommerce</p>
  </div>
</footer>
